<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <title>Pet Site</title>
  </head>
  <body>
    <nav>
      <a href="/">Pet Site</a>
      <form >
        <div>Hello, <strong>{{ user.username }}</strong>!</div>
        {% if request.user.is_authenticated %}
          <a href="{% url 'appointment-create-page' %}">New Appointment</a>
          <a href="{% url 'pet-create-page' %}">New Pet</a>
          <a href="{% url 'logout' %}" >Log Out</a>
        {% else %}
          <a href="{% url 'login' %}">Log In</a>
          <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
      </form>
    </nav>
    <main role="main">
      {% block content %}
        <div>
          <div>
            <div role="alert">
              If you see this, you forgot <code>{% verbatim %}{% block content %}{% endblock %}{% endverbatim %}</code> in your child template.
            </div>
          </div>
        </div>
      {% endblock %}
    </main>
  
  </body>
  